.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* Lo hace un poco m치s grande */
}

/* El placeholder que se muestra donde el elemento va a caer */
.cdk-drag-placeholder {
  opacity: 0.2;
  background: #c8c8c8;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 0.5rem;
}

/* Animaci칩n suave cuando un elemento vuelve a su lugar si el drop es cancelado */
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Ayuda a que la lista que est치 recibiendo el elemento se vea m치s fluida */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}